.header {
    margin-bottom: 4px;
}

.dates {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 1rem;
}

@media (max-width: 768px) {
    .dates {
        grid-template-columns: 1fr;
    }
}

.actionsBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-md);
}
