.header {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: var(--spacing-sm);
}

.contentGrid {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    margin-bottom: var(--spacing-lg);
}

.badge {
    width: fit-content;
}

.dates {
    display: flex;
    gap: var(--spacing-3xl);
}

.actionsBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-md);
}

@media (max-width: 768px) {
    .dates {
        flex-direction: column;
        gap: var(--spacing-xs);
    }
}
